<div class="box">
  <div class="profile">
    <div class="profile_img">
      <%= image_tag 'icon1.png' %>
    </div>
    <div class="profile_info">
      <h3 class="profile_info_name"><%= current_user.display_name %></h3>
      <h4 class="profile_info_introduction">Male</h4>
      <p class="profile_info_introduction">aaaaaaaaa</p>
    </div>
    <%= link_to 'Edit', edit_profile_path, class: 'profile_edit' %>
  </div>

  <div class="boards">
    <% current_user.boards.each do |board| %>
      <%= render 'commons/board', board: board %>
    <% end %>
  </div>
</div>
