<div class="box">
  <h2>Edit Comment</h2>

  <% @comment.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>

  <%= form_tag("/boards/#{params[:board_id]}/tasks/#{params[:task_id]}/comments/#{params[:id]}", {method: 'put'}) do %>

    <div class="field">
      <textarea name="content"><%= @comment.content %></textarea>
    </div>

    <div class="actions">
      <input type="submit" value="Submit">
    </div>

  <% end %>

</div>
