<div class="box">
  <h2>New Comment</h2>

  <% @comment.errors.full_messages.each do |message| %>
    <p class="error_message"><%= message %></p>
  <% end %>

  <%= form_with url: board_task_comments_path, method: :post, local: true do |f| %>

    <div class="field">
      <textarea name="content"><%= @comment.content %></textarea>
    </div>

    <div class="actions">
      <input type="submit" value="Submit">
    </div>

  <% end %>

</div>
