<div class="box">
  <h2>New Comment</h2>

  <% @comment.errors.full_messages.each do |message| %>
    <p class="error_message"><%= message %></p>
  <% end %>

  <%= form_with model: @comment, url: board_task_comments_path(@comment.task.board, @comment.task, @comment), method: :post, local: true do |f| %>

    <div class="field">
      <%= f.text_area :content %>
    </div>

    <div class="actions">
      <%= f.submit :Submit %>
    </div>

  <% end %>

</div>
