<div class="box">
  <h2>Edit Board</h2>

  <% @board.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>

  <%= form_tag(board_path(@board), method: :put) do %>

    <div class="field">
      <div class="title">Name</div>
      <input type="text" name="title" value="<%= @board.title %>">
    </div>

    <div class="field">
      <div class="content">Description</div>
      <textarea name="content"><%= @board.content %></textarea>
    </div>

    <div class="actions">
      <input type="submit" value="Submit">
    </div>
    
  <% end %>

</div>
