<div class="box">
  <h2>All Boards</h2>
  <div class="boards">
    <% @boards.each do |board| %>
      <%= render 'commons/board', board: board %>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <%= link_to '+ Add new board', new_board_path, class: 'new_board' %>
  <% end %>
</div>
