<div class="box">
  <h2>New Board</h2>

  <% @board.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>

  <%= form_tag(boards_path) do %>

    <div class="field">
      <div class="title">Name</div>
      <input type="text" name="title">
    </div>

    <div class="field">
      <div class="content">Description</div>
      <textarea name="content"></textarea>
    </div>

    <div class="actions">
      <input type="submit" value="Submit">
    </div>
    
  <% end %>

</div>
