<div class="box">
  <h2>New Board</h2>

  <% @board.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>

  <%= form_tag(boards_path) do %>

    <div class="field">
      <label class="title">Name</label>
      <input type="text" name="title" value="<%= @board.title %>">
    </div>

    <div class="field">
      <label class="content">Description</label>
      <textarea name="content"><%= @board.content %></textarea>
    </div>

    <div class="actions">
      <input type="submit" value="Submit">
    </div>
    
  <% end %>

</div>
