@import 'variables';

.box {
    .comment_show {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 100px;

        &_icon {
            min-width: 100px;
            height: 100px;
            margin-right: 20px;
        }
        &_content {
            font-size: 18px;
            color: $base;
            line-height: 24px;
            min-width: 140px;
        }

        .comment_drop {
            position: absolute;
            top: 50px;
            right: 0;

            &_content {
                background: $back;
                border-radius: 10px;

                &_btn {
                    background: $back;

                    &:hover {
                        background: $base;
                        color: white;
                    }
                }
            }
        }
    }
}
