@import 'variables';

form {
    position: relative;

    .field {

        label {
            display: block;
            font-size: 18px;
            color: $base;
            line-height: 25px;
            margin-bottom: 4px;
        }

        input, select {
            background: $back;
            width: 100%;
            height: 40px;
            border-radius: 10px;
            padding: 0 10px;
            margin-bottom: 33px;
            outline: none;
            border: none;
        }

        textarea {
            background: $back;
            width: 100%;
            height: 200px;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 33px;
            outline: none;
            border: none;
        }

        .image_input {
            background: white;
            border-radius: 0;
            padding: 0;
        }
    }

    .actions {
        
        input {
            background: $btn;
            color: white;
            font-size: 18px;
            font-weight: 800;
            width: 100%;
            height: 40px;
            border-radius: 4px;
            margin: 300px 0 32px;
            outline: none;
            border: none;

            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
        }
    }

    .signup, .signin {
        display: block;
        background: $back;
        color: $base;
        font-size: 18px;
        width: 80px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        border: 1px solid $base;
        border-radius: 5px;
        margin-top: 14px;
        transition: all 0.3s;

        &:hover {
            background: $base;
            color: white;
        }
    }
}
