@import 'variables';

form {
    position: relative;

    .field {

        label {
            font-size: 18px;
            color: $base;
            line-height: 25px;
            margin-bottom: 7px;
        }

        input, select {
            background: $back;
            width: 100%;
            height: 40px;
            border-radius: 10px;
            padding: 0 10px;
            margin-bottom: 33px;
            outline: none;
            border: none;
        }

        textarea {
            width: 100%;
            height: 203px;
            background: $back;
            border-radius: 10px;
            outline: none;
            border: none;
            padding: 10px;
            margin-bottom: 33px;
        }

        .gender {
            display: block;
            margin-top: 30px;
        }

        .gender_select {
            padding-right: 10px;
        }

        .eyecatch_input, .avatar_input {
            background: white;
            border-radius: 0;
            padding: 0;
        }
    }

    .actions {
        
        input {
            background: $btn;
            color: white;
            font-size: 18px;
            font-weight: 800;
            width: 100%;
            height: 40px;
            border-radius: 4px;
            margin: 300px 0 32px;
            outline: none;
            border: none;
        }
    }

    .signup, .signin {
        display: block;
        width: 80px;
        height: 30px;
        background: $back;
        color: $base;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        border: 1px solid $base;
        border-radius: 5px;
        margin-top: 14px;
        transition: all 0.3s;

        &:hover {
            background: $base;
            color: white;
        }
    }
}
