@import 'variables';

header {
    width: 100%;
    height: 58px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)!important;
    .box {
        .header {
            display: flex;
            justify-content: space-between;

            &_title {
                display: flex;

                &_h {
                    font-size: 18px;
                    color: $base;
                    font-weight: normal;
                    line-height: 25px;
                    margin-top: 17px;
                }

                &_a {
                    display: block;
                    transition: all 0.3s;
                    
                    &:hover {
                        color: lightblue;
                    }
                }

                &_img {
                    width: 18px;
                    height: 18px;
                    margin: 19px 5px 0 0;
                    img {
                        background: $base;
                        width: 18px;
                        height: 18px;
                        transition: all 0.3s;
                        &:hover {
                            background: lightblue;
                        }
                    }
                }
                
            }

            &_login {
                display: block;
                width: 80px;
                height: 30px;
                background: $back;
                color: $base;
                font-size: 18px;
                line-height: 30px;
                text-align: center;
                border-radius: 5px;
                margin-top: 14px;
                transition: all 0.3s;

                &:hover {
                    background: $base;
                    color: white;
                }
            }

            &_drop {
                top: 9px;
                right: 30px;

                &_icon {
                    display: block;
                    width: 40px;
                    height: 40px;
                    margin-left: auto;
                }

                &_content {
                    background: $base;
                    border-radius: 12px;
                    margin-top: 3px;
                    
                    a {
                        background: $base;
                        color: white;

                        &:hover {
                            background: $back;
                            color: $base;
                        }
                    }
                }
            }
        }
    }
}
