@import 'variables';

.box {
    .task_show {
        &_top {
            &_eyecatch {
                width: 100%;
                border-radius: 10px;
                margin-bottom: 35px;
            }

            .task_top {
                top: 107px;
                right: 37px;

                &_content {
                    border: 1px solid $base;
                    border-radius: 12px;

                    &_btn {
                        padding-bottom: 6px;
                    }
                }
            }
        }

        &_content {
            background: $back;
            width: 100%;
            border-radius: 10px;
            padding: 20px 16px 15px;
            margin-bottom: 35px;

            &_p {
                color: $base;
                font-size: 14px;
                line-height: 19px;
                margin-bottom: 20px;
            }
            &_date {
                color: $base;
                font-size: 14px;
                line-height: 19px;
            }
        }
    }
}
